@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
section {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* --------output window--------- */
.output {
    width: 100%;
}
.output #iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* ---------editor window---------- */
.editor {
    width: 100%;
    display: none;
}
.editorDisplay {
    display: block;
}
.tab {
    display: flex;
    align-items: center;
    background: #13181f;
}
.tab button {
    width: 100px;
    padding: 0.5rem 1.5rem;
    margin-right: 1.5px;
    background-color: #3b414b;
    color: rgb(131, 122, 122);
    border: none;
    cursor: pointer;
}
.bi {
    font-size: 1.6rem;
    color: rgb(131, 122, 122);
    cursor: pointer;
    position: absolute;
}
.bi-play {
    right: 3rem;
}
.bi-x {
    right: 1rem;
}
.code {
    width: 100%;
    height: 100%;
    display: flex;
}
.code textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #1d232e;
    color: rgb(131, 122, 122);
    display: none;
}
.editor .activeEditor {
    display: block;
}
.activeTab {
    background-color: #1d232e !important; 
}
